<section data-bs-version="5" class="footer1 cid-sz5dTuaavo" once="footers" id="footer02-4">
   <div class="container">
      <div class="row mbr-white">
         <div class="col-12 col-md-6 col-lg-6" style="justify-content: center; display: flex;">
            <div class="wrapper">
               <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                  <strong>About itenium</strong>
               </h5>
               <p class="mbr-text mbr-fonts-style mb-4 display-4">
                  We are specialized in building unique
                  digital experiences for our clients -
                  from websites to special purpose applications.
               </p>
            </div>
         </div>
         <div class="col-12 col-md-6 col-lg-2">
            <!-- <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
               <strong>Trainings</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     Angular
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     React
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     Security Bootcamp
                  </a>
               </li>
            </ul> -->
         </div>
         <div class="col-12 col-md-6 col-lg-2">
            <!-- <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
               <strong>Tracks</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     Frontend
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     Backend
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     Cloud
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="" class="text-white">
                     Architecture
                  </a>
               </li>
            </ul> -->
         </div>
         <div class="col-12 col-md-6 col-lg-2">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
               <strong>Company</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
               <li class="mbr-text item-wrap">
                  <a href="https://itenium.be" class="text-white">
                     Home
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="https://itenium.be/jobs" class="text-white">
                     Jobs
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="https://itenium.be/terms-and-conditions/nl" class="text-white">
                     Terms
                  </a>
               </li>
               <li class="mbr-text item-wrap">
                  <a href="mailto:{{ site.email }}" class="text-white">
                     Contact
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>

<script src="{{ "/assets/js/vendor/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/smooth-scroll.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/yt-player.js" | relative_url }}"></script>
<script src="{{ "/assets/js/script.js" | relative_url }}"></script>
<script src="{{ "/assets/js/gallery.js" | relative_url }}"></script>
