<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="galleryModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-right: 16px"></button>
         </div>
         <div id="gallery-body" class="modal-body" style="background-color: #C2CEFC;">

         </div>
      </div>
   </div>
</div>
