---
layout: default
permalink: /events
---

<section data-bs-version="5" class="header3 cid-sz5dkQbkls bg-sessions" id="header03-0">
   <div class="mbr-overlay header3-overlay"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
               <strong>Events</strong>
            </h1>

            <p class="mbr-text mbr-fonts-style display-7">
               <b>The itenium technical agenda</b>

               <br>
               Discover what lies ahead or explore our archive of past sessions.
            </p>
         </div>
      </div>
   </div>
</section>

{% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}

<section data-bs-version="5" class="article5 cid-sz5dt1rNPS" id="content05-3">
   <div class="align-center container">
      <div class="row">
         <div class="col-md-12 col-lg-5 my-auto">
            <div class="image-wrapper">
               <img src="{{ "/assets/images/future-events.png" | relative_url }}" alt="" />
            </div>
         </div>
         <div class="col-12 my-auto align-left col-lg-7">
            <div class="card-wrapper">
               <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                  <strong>Upcoming Events</strong>
               </h1>

               <div class="row">
                  <div class="col-lg-12">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        Our upcoming tech & fun sessions
                     </p>
                  </div>
                  <ul>
                     {% assign events = site.data.events | sort: 'date' %}
                     {% for event in events %}
                        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
                        {% if date > now %}
                           <li>
                              {{event.date | date: '%d/%m/%Y'}}: {{event.name}}
                              {% if event.by %}
                                 by {{event.by}}
                              {% endif %}
                              <small>
                                 ({{event.track}}: {{event.subTitle}})
                              </small>
                           </li>
                        {% endif %}
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



{% include say-hello.html text="Past Events" %}



{% assign isEvenCounter = 0 %}

{% assign events = site.data.events | sort: 'date' | reverse %}
{% for event in events %}
   {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
   {% unless event.hide %}
   {% if date < now %}
      <section data-bs-version="5" class="progress-bars1 cid-sz5eyO5MOT" id="progress01-a">
         <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(255, 255, 255)"></div>
         <div class="container">
            <div class="row">
               {% assign isEvenCounter = isEvenCounter | plus: 1 %}
               {% assign isEven = isEvenCounter | modulo: 2 %}
               {% if isEven == 0 %}
                  <div class="col-md-12 col-lg-5 text-elements my-auto md-pb">
                     <div class="image-wrapper">
                        {% include events/event-image.html event=event %}
                     </div>
                  </div>
                  <div class="progress_elements m-auto col-md-12 col-lg-7">
                     {% include events/event-details.html event=event %}
                  </div>
               {% else %}
                  <div class="progress_elements m-auto col-md-12 col-lg-7">
                     <div class="image-wrapper" style="z-index: unset">
                        {% include events/event-details.html event=event %}
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-5 text-elements my-auto md-pb" style="z-index: 10">
                     {% include events/event-image.html event=event %}
                  </div>
               {% endif %}
            </div>
         </div>
      </section>
   {% endif %}
   {% endunless %}
{% endfor %}
