---
layout: default
permalink: /events
---

<section data-bs-version="5" class="header3 cid-sz5dkQbkls bg-sessions" id="header03-0">
   <div class="mbr-overlay header3-overlay"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
               <strong>Events</strong>
            </h1>

            <p class="mbr-text mbr-fonts-style display-7">
               <b>The itenium technical agenda</b>

               <br>
               Discover what lies ahead or explore our archive of past sessions.
            </p>
         </div>
      </div>
   </div>
</section>

{% capture now %}{{'now' | date: '%s' }}{% endcapture %}


<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="galleryModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-right: 16px"></button>
         </div>
         <div id="gallery-body" class="modal-body" style="background-color: #C2CEFC;">

         </div>
      </div>
   </div>
</div>


<section data-bs-version="5" class="article5 cid-sz5dt1rNPS" id="content05-3">
   <div class="align-center container">
      <div class="row">
         <div class="col-md-12 col-lg-5 my-auto">
            <div class="image-wrapper">
               <img src="{{ "/assets/images/future-events.png" | relative_url }}" alt="" />
            </div>
         </div>
         <div class="col-12 my-auto align-left col-lg-7">
            <div class="card-wrapper">
               <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                  <strong>Upcoming Events</strong>
               </h1>

               <div class="row">
                  <div class="col-lg-12">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        Our upcoming tech & fun sessions
                     </p>
                  </div>
                  <ul>
                     {% assign events = site.data.events | sort: 'date' %}
                     {% for event in events %}
                        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
                        {% if date > now %}
                           <li>
                              {{event.date | date: '%a %d/%m/%Y'}}:
                              <span class="badge badge-type {{ event.type | first }}">{{ event.type | first }}</span>
                              <span class="badge badge-track {{ event.track }}">{{ event.track }}</span>
                              {{event.name}}
                              {% if event.by and event.by != "" %}
                                 by {{event.by}}
                              {% endif %}
                              <small>
                                 {% if event.subTitle and event.subTitle != "" %}
                                    : {{event.subTitle}}
                                 {% endif %}
                              </small>
                           </li>
                        {% endif %}
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



{% include say-hello.html text="Past Events" %}


{% capture two_years_ago %}{{'now' | date: '%s' | minus: 46656000 }}{% endcapture %}

{% assign events = site.data.events | sort: 'date' | reverse %}
{% assign last_two_year_events = '' | split: '' %}
{% for event in events %}
   {% capture event_date %}{{event.date | date: '%s' }}{% endcapture %}
   {% if event_date > two_years_ago %}
      {% assign last_two_year_events = last_two_year_events | push: event %}
   {% endif %}
{% endfor %}

{% include events/event-list.html events=last_two_year_events %}

<section data-bs-version="5" class="contacts6 cid-sz5dZ1isXX" id="contacts06-6">
   <div class="align-center container">
      <div class="row justify-content-center">
         <div class="col-12 align-left col-lg-10">
            <div class="card-wrapper">
               <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-4">
                  Itenium: Where Passion Meets Profession
               </h1>
               <h2 class="mbr-section-subtitle mbr-fonts-style mbr-white mb-4 display-1">
                  <a href="{{'/events/old' | relative_url}}">
                     <strong>View Older Events</strong>
                  </a>
               </h2>
            </div>
         </div>
      </div>
   </div>
</section>
