---
layout: default
permalink: /sessions
---

<section data-bs-version="5" class="header3 cid-sz5dkQbkls bg-sessions" id="header03-0">
   <div class="mbr-overlay header3-overlay"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
               <strong>Sessions</strong>
            </h1>

            <p class="mbr-text mbr-fonts-style display-7">
               <b>The itenium technical agenda</b>

               <br>
               Discover what lies ahead or explore our archive of past sessions.
            </p>
         </div>
      </div>
   </div>
</section>


<section data-bs-version="5" class="article5 cid-sz5dt1rNPS" id="content05-3">
   <div class="align-center container">
      <div class="row">
         <div class="col-md-12 col-lg-5 my-auto">
            <div class="image-wrapper">
               <img src="{{ "/assets/images/future-events.png" | relative_url }}" alt="" />
            </div>
         </div>
         <div class="col-12 my-auto align-left col-lg-7">
            <div class="card-wrapper">
               <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                  <strong>Upcoming Events</strong>
               </h1>

               <div class="row">
                  <div class="col-lg-12">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        Our upcoming sessions
                     </p>
                  </div>
                  <ul>
                     {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
                     {% for event in site.data.events %}
                        {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
                        {% if date > now %}
                           <li>
                              {{event.date | date: '%d/%m/%Y'}}: {{event.name}}
                              <small>
                                 ({{event.track}}: {{event.subTitle}})
                              </small>
                           </li>
                        {% endif %}
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



{% include say-hello.html text="Past Sessions" %}


{% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
{% assign events = site.data.events | sort: 'date' | reverse %}
{% for event in events %}
   {% capture date %}{{event.date | date: '%s' | plus: 0 }}{% endcapture %}
   {% if date < now %}
      <section data-bs-version="5" class="progress-bars1 cid-sz5eyO5MOT" id="progress01-a">
         <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(255, 255, 255)"></div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-5 text-elements my-auto md-pb">
                  <div class="image-wrapper">
                     {% if event.track == "TechCafe" %}
                        <img src="{{ "/assets/images/features1.jpg" | relative_url }}" alt="" />
                     {% elsif event.image != "" %}
                        <img src="{{ event.image | relative_url }}" alt="" />
                     {% else %}
                        <img src="{{ "/assets/images/missing-session.png" | relative_url }}" alt="" />
                     {% endif %}
                  </div>
               </div>
               <div class="progress_elements m-auto col-md-12 col-lg-7">
                  <div class="card-wrapper">
                     <p>
                        <b>{{event.date | date: '%d/%m/%Y'}}</b>
                     </p>
                     <h4 class="section-content-title pb-2 align-left mbr-fonts-style display-2">
                        <strong>{{event.name}}</strong>
                     </h4>
                     <strong>{{event.subTitle}}</strong>


                     <p class="section-content-text align-left pb-4 mbr-fonts-style display-4">
                        {{event.summary}}
                     </p>

                     {% if event.track != "TechCafe" %}
                     <p>
                        <span class="badge badge-track {{ event.track }}">{{ event.track }}</span>
                        <span class="badge badge-content {{ event.content }}">{{ event.content }}</span>
                        <!-- <span class="badge badge-level {{ event.level }}">{{ event.level }}</span> -->
                     </p>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </section>
   {% endif %}
{% endfor %}
