---
layout: default
---

<section data-bs-version="5" class="header3 cid-sz5dkQbkls" id="header03-0">
   <div class="mbr-overlay header1-overlay"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-lg-8 align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
               <strong>Competence Center</strong>
            </h1>

            <p class="mbr-text mbr-fonts-style display-7">
               <b>Join itenium and thrive</b>

               <br>
               Are you passionate about technology and eager to advance your career in IT consultancy?
               Look no further!
               We invite driven professionals like you to embark on a journey of growth and innovation.
            </p>
            <div class="mbr-section-btn mt-3">
               <a class="btn btn-lg btn-primary display-4" href="https://itenium.be/jobs">
                  Jobs
               </a>
               <a class="btn btn-lg btn-primary display-4" href="{{ "/hire-us" | relative_url }}">
                  Hire Us
               </a>
            </div>
         </div>
      </div>
   </div>
</section>



<section data-bs-version="5" class="article5 cid-sz5dt1rNPS" id="content05-3">
   <div class="align-center container">
      <div class="row">
         <div class="col-md-12 col-lg-5 my-auto">
            <div class="image-wrapper">
               <img src="{{ "/assets/images/mbr.jpeg" | relative_url }}" alt="" />
            </div>
         </div>
         <div class="col-12 my-auto align-left col-lg-7">
            <div class="card-wrapper">
               <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                  <strong>Tech Events</strong>
               </h1>

               <div class="row">
                  <div class="col-lg-12">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        In our bi-monthly Tech Event we explore a <b>wide array
                        of topics.</b>
                     </p>
                  </div>
                  <div class="col-lg-6">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        We believe in the power of practical knowledge, so they
                        are typically organised as <b>hands-on workshops</b>.
                     </p>
                  </div>
                  <div class="col-lg-6">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        Before diving into the tech, we start with a delightful
                        dinner. It's not just about learning; <b>it's about
                        food, fun and networking</b>.
                     </p>
                  </div>
                  <div class="col-lg-12">
                     <p class="mbr-text mbr-white mbr-fonts-style display-4">
                        <a class="btn btn-lg btn-primary display-4" href="{{ "/events" | relative_url }}">
                           Learn More
                        </a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section data-bs-version="5" class="features3 cid-sz5dmAMp3U">
   <div class="container">
      <div class="row">
         <div class="col-12 pb-5 col-lg-9">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-7">
               OUR TRACKS
            </h3>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
               <strong>
                  in between the tech events, we have other tracks running
               </strong>
            </h5>
         </div>
      </div>
      <div class="row">
         <div class="card col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
               <div class="card-box align-center">
                  <div class="iconfont-wrapper">
                     <span class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span>
                  </div>
                  <h5 class="card-title mbr-fonts-style display-7">
                     <strong>Frontend Track</strong>
                  </h5>
                  <p class="card-text mbr-fonts-style display-4">
                     Explore the ever-evolving world of web technologies,
                     from TypeScript and Node to the latest SPAs.
                  </p>
                  <!-- <div class="mbr-section-btn mt-4">
                     <a class="btn btn-lg btn-primary display-4" href="">
                        Explore
                     </a>
                  </div> -->
               </div>
            </div>
         </div>
         <div class="card col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
               <div class="card-box align-center">
                  <div class="iconfont-wrapper">
                     <span class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri"></span>
                  </div>
                  <h5 class="card-title mbr-fonts-style display-7">
                     <strong>Architecture Track</strong>
                  </h5>
                  <p class="card-text mbr-fonts-style display-4">
                     Learn how to design applications that are easy to maintain,
                     how to effectively work on legacy projects and explore
                     different architectural patterns.
                  </p>
                  <!-- <div class="mbr-section-btn mt-4">
                     <a class="btn btn-lg btn-primary display-4" href="">
                        Explore
                     </a>
                  </div> -->
               </div>
            </div>
         </div>
         <div class="card col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
               <div class="card-box align-center">
                  <div class="iconfont-wrapper">
                     <span class="mbr-iconfont mobi-mbri-cloud mobi-mbri"></span>
                  </div>
                  <h5 class="card-title mbr-fonts-style display-7">
                     <strong>Cloud Track</strong>
                  </h5>
                  <p class="card-text mbr-fonts-style display-4">
                     Dive into the world of containerization with Docker and Kubernetes.
                     Explore the world's leading cloud platforms.
                  </p>
                  <!-- <div class="mbr-section-btn mt-4">
                     <a class="btn btn-lg btn-primary display-4" href="">
                        Explore
                     </a>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section data-bs-version="5" class="progress-bars1 cid-sz5eyO5MOT" id="progress01-a">
   <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(255, 255, 255)"></div>
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-5 text-elements my-auto md-pb">
            <div class="image-wrapper">
               <img src="{{ "/assets/images/features1.jpg" | relative_url }}" alt="" />
            </div>
         </div>
         <div class="progress_elements m-auto col-md-12 col-lg-7">
            <div class="card-wrapper">
               <h4 class="section-content-title pb-2 align-left mbr-fonts-style display-2">
                  <strong>Tech Café</strong>
               </h4>
               <p class="section-content-text align-left pb-4 mbr-fonts-style display-4">
                  Tech Café is where tech meets gastronomy, where innovation meets indulgence.
                  Join us for an unforgettable dining experience infused with enriching tech conversations.
               </p>
               <div class="progress1">
                  <div class="title-wrap">
                     <div class="progressbar-title mbr-fonts-style display-4">
                        <p>Dining<br /></p>
                     </div>
                     <div class="progress_value mbr-fonts-style display-4">
                        <div class="progressbar-number"></div>
                        <span>36%</span>
                     </div>
                  </div>
                  <progress class="progress progress-primary" max="100" value="36"></progress>
               </div>

               <div class="progress2 pt-4">
                  <div class="title-wrap">
                     <div class="progressbar-title mbr-fonts-style display-4">
                        <p>Conversing<br /></p>
                     </div>
                     <div class="progress_value mbr-fonts-style display-4">
                        <div class="progressbar-number"></div>
                        <span>42%</span>
                     </div>
                  </div>
                  <progress class="progress progress-primary" max="100" value="42"></progress>
               </div>

               <div class="progress3 pt-4">
                  <div class="title-wrap">
                     <div class="progressbar-title mbr-fonts-style display-4">
                        <p>Technological discussions<br /></p>
                     </div>
                     <div class="progress_value mbr-fonts-style display-4">
                        <div class="progressbar-number"></div>
                        <span>14%</span>
                     </div>
                  </div>
                  <progress class="progress progress-primary" max="100" value="14"></progress>
               </div>

               <div class="progress3 pt-4">
                  <div class="title-wrap">
                     <div class="progressbar-title mbr-fonts-style display-4">
                        <p>Presentations<br /></p>
                     </div>
                     <div class="progress_value mbr-fonts-style display-4">
                        <div class="progressbar-number"></div>
                        <span>8%</span>
                     </div>
                  </div>
                  <progress class="progress progress-primary" max="100" value="8"></progress>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section data-bs-version="5" class="contacts5 cid-sz5eNl5Exf" id="contacts05-c">
   <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255)"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12">
            <h3 class="title mbr-fonts-style pb-5 display-2">
               <strong>Yearly Bootcamp</strong>
               <div><strong>The Ultimate Blend of Learning and Fun</strong></div>
            </h3>
         </div>
         <div class="card col-12 col-md-6 col-lg-6">
            <div class="card-wrapper">
               Our yearly bootcamp is a full day event for all itenium employees.

               <br><br>
               Join us and experience this immersive event where everyone, regardless of their role,
               can participate, grow, and hopefully have a fantastic time while doing so!
            </div>
         </div>
      </div>
   </div>
</section>


{% include say-hello.html text="Say Hello" email=site.jobsEmail %}


<section data-bs-version="5" class="testimonials1 cid-sz5e1qbins" id="testimonials01-7">
   <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255)"></div>
   <div class="align-center container">
      <div class="row">
         <div class="col-md-12 col-lg-4 my-auto">
            <div class="image-wrapper">
               <img src="{{ "/assets/images/team1.jpg" | relative_url }}" alt="" />
            </div>
         </div>
         <div class="col-12 my-auto align-left col-lg-8">
            <div class="card-wrapper">
               <h2 class="mbr-section-subtitle mbr-fonts-style mbr-white mb-4 display-5">
                  <strong>
                     De sessie was heel boeiend, ik wou daar echt graag bij zijn en dat bleek ook terecht.
                     Het tempo vond ik goed, in het begin was ik even verloren en er waren veel oefeningen,
                     maar ik werd meteen verder geholpen door Wouter en kon daarna mee.
                  </strong>
               </h2>

               <p class="mbr-text mbr-white mbr-semibold mbr-fonts-style display-4">
                  Sebastian - RXJS Session
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
